aws_region           = "eu-north-1"
aws_profile          = "fiscora-admin"
project_name         = "fiscora"
environment          = "staging"
availability_zone    = "eu-north-1a"
instance_type        = "t4g.small"
ami_ssm_parameter    = "/aws/service/ami-amazon-linux-latest/al2023-ami-kernel-default-arm64"
root_volume_size     = 20
vpc_cidr             = "10.20.0.0/16"
public_subnet_cidr   = "10.20.10.0/24"
